h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 60pt;
  margin: 0px;
  
}

.imagesSalmon {
  text-align: center;
}

.imagesTshirt {
  text-align: center;
  gap: 40px;
}

.tshirtNav {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  gap: 50px;
}


li :hover {
  color: red;
}

h2 {
  font-size: 50px;
  
}

h3 {
  font-size: 40px;
  background-color: #00d4ff;
  padding-bottom: 10px;
  padding-top: 10px;
 }

.CookieLocations1 {
  text-align: center;
  
}

.CookieLocations1 li {
  list-style-type: none;
  background-color: #79f4b7;
  font-size: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.CookieLocations2 {
  text-align: center;
}

.CookieLocations2 li {
  list-style-type: none;
}

footer {
  text-align: center;
  gap: 30px;
}

/* Everything Below is Sales */
td {
  border: 1px solid black;
  width: 200px;
  text-align: center;
}

table {
  border: solid black;
  border-collapse: collapse;
  background-image: linear-gradient(#09791c, #00d4ff);
}

tbody tr:nth-child(even) {
  background-color: rgb(151, 224, 122);
}
tfoot {
  background-color: grey;
}

#headerContainerSales {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 10px;
  background-color: #79f4b7;
}

nav ul {
  list-style: none;
  gap: 10px;
  display: flex;
  flex-direction: row;
}

#headerContainer {
  display: flex;
  justify-content: space-between;
  height: 90px;
  margin-bottom: 1px;
  background-color: #79f4b7;
}


